body {
	margin: 0;
	background: #fff;
	font-size: 18px;
	font-family: Arial, sans-serif;
}

h1 {
	margin: 0;
}

input::-webkit-input-placeholder {
	 color: #93969d; 
}

input:focus::-webkit-input-placeholder {
	color: transparent
}

/* псевдо что-то, что отвечает за кнопку очистки */

input[type="search"]::-webkit-search-cancel-button { 
	-webkit-appearance: none;
}


.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

/*header*/

.header {
	background: #4a76a8;
	min-width: 980px;
	padding: 7px 0;
}

/*logo*/

.logo {
	padding: 0;
	margin-top: 4px;
	text-decoration: none;
}

.logo img {
	display: block;
}

.logo_float {
	float: left;
}

/*search*/

.search {
	margin-left: 206px;
}

.search_float {
	float: left;
}

.search_field{
	width: 230px;
	height: 28px;
	border-radius: 20px;
	outline: none;
	padding: 5px 5px 5px 32px;
	font-size: 14px;
	background: #224b7a url(../img/search.png) no-repeat;
	color: #fff;
	border: 1px solid transparent;
	transition: .5s;
}

.search_field:focus{
	background: #fff;
	color: #000;
}

/*switch*/

.switch {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	display: block;
	height: 43px;
	padding: 0 10px;
	line-height: 48px;
	margin: -8px 0;
}

.switch_float {
	float: right;
}

/*main*/

.main {
	padding-top: 0px;
	padding-top: 228px;
}

/*list*/

.list {
	display: inline-block;
	margin-left: 24px;
	width: 260px;
	height: 260px;
	text-align: center;
	vertical-align: middle;
}

.img {
	width: 220px;
	box-shadow: 11px 11px 22px 4px black;
	transition: .9s;
}

.img:hover {
	width: 230px;
	box-shadow: 22px 22px 14px 12px black;
}


/*diagram*/

.diagram{
	background: #5d98c8;
	border-radius: 50% 50% 50% 50%;
	width: 220px;
	height: 220px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 50px;
	border: 30px solid green;
	border-top: 30px solid red;
	transform: rotate(45deg);
	color: #fff;
	font-size: 55px;
	padding: 50px 40px 0px 35px;
	box-shadow: 0px 0px 0px 3px #000, inset 0px 0px 0px 4px #fff;
}

.percent {
	transform: rotate(-45deg);
}








